Aprendizaje/CUA-MYSQL/build/stgotestgestioncua/localpycos/pyimod01_os_path.pyc
Aprendizaje/CUA-MYSQL/build/stgotestgestioncua/localpycos/pyimod02_archive.pyc
Aprendizaje/CUA-MYSQL/build/stgotestgestioncua/localpycos/pyimod03_importers.pyc
